body{
    font-family: 'Roboto', sans-serif;
}
.first{
    background-color: #1F2937;
    margin: 0;
    padding-left: 50px;
}


a{
    text-decoration: none;
}
a:visited { 
    text-decoration: none; 
    color: #E5E7EB; 
 }

.logo-text{
    font-size: 24px;
    color: #F9FAF8;

    
}

.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 8px 16px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin-right: 200px;
    font-size: 18px;
    font-family: 'roboto',sans-serif;
}

.first-body{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.fb-text{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.awesome{
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
}

.secondary-hero{
    font-size: 18px;
    color: #E5E7EB;
}

.img1{
    display: flex;
    align-items: center;
    margin-right: 200px;
    margin-bottom: 100px;
    height: auto;
    width: auto;
}

button{
  padding: 8px 16px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #3882F6;
  width: max-content;
  color: #F9FAF8;

 
}

.second-body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.second-img{
    border: 3px solid #3882F6;
}



.pair{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
}

.info-header{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.third{
    background-color: #dedededc;
    border-left-width: 10px;
}
.quote{
    font-size: 36px;
    font-style: italic;
}

.quote-author{
    font-size: 26px;
    font-style: bold;
    text-align: right;
    margin-right: 10px;
}

.quote-author::before{
    content: "\2014";
}

.fourth{
    background-color: #3882F6;
    display: flex;
    height: 180px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px dotted black;
    align-items: center;
    padding: 10px;
    margin: 40px 70px;
    border-radius: 15px;


    


}
.cta-bold{
    font-size: 36px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 10px;

}
.cta-normal{
    color: #E5E7EB;
    font-size: 20px;
    margin: 10px;
}

.button2{
    border:1px solid #F9FAF8;
    font-size: larger;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}